<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <% favCharacters.forEach(character => { %>
      <p>Name: <%= character.name %></p>
      <p>House: <%= character.house %></p>
      <p>Patronus: <%= character.patronus %></p>
      <p>Alive: <%= character.is_alive %></p>
      <hr />
      <% }) %>
    </main>
  </body>
</html>
